@import 'bootstrap/scss/bootstrap';

.card-img-top {
    object-fit: cover;
    height: 300px;
}

.cutoff-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-hidden {
    display: none;
}

.btn:hover .text-hidden {
    display: inline-block;
}


